/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
  background-color: #EEEEEE;    /* achtergrondkleur lichtgrijs */
  color: white;               /* tekstkleur donkergrijs */
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S *************************/

/* Indeling en opmaak voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
  color: white
} 

p {
  margin: 10px 0px;
  text-align: justify;   
  float: left;         /* tekst links en rechts uitvullen */
  color: white;
}

img {
  margin: 10px 0px;
}



.Argentinië {
  color: lightskyblue;
}

.Portugal {
  color: green;
}

.Amerika {
  color: rgb(179, 25, 66);
}

.Spanje {
  color: rgb(241, 191, 0);
}









a:hover {                         /* <a> als je er met de muis op staat */
  text-decoration: underline;
}

.smalltext {
  text-align: center;
  font-size: 0.7em;
}



/************************* NAVIGATIEBALK *************************/

/* navigatiebalk voor alle pagina's */

nav ul {                        /* <ul> die child is van <nav> */
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: #dddddd;
  overflow: hidden;
  width: 100%;
  bottom: 90%;
  
 
}

nav ul li {                     /* <li> die child is van <ul> die op zijn beurt child is van <nav> */
  float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 125%;
  font-family: 'Times New Roman', Times, serif;
}

nav li a:hover {
  background-color: #aaaaaa;
}

nav li a.active {
  background-color: red;
}


/************************* HOOFDPAGINA *************************/

/* Indeling en opmaak voor hoofdpagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje-logo {
  float: left;
  width: 250px;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
  margin-left: 250px;
  }

.item-tekst {
  float: right;
  width: 450px;
}

.plaatje-coureurs {
  width: 700px;
  height: 400px;
  }

.vlaggen-tabel {
  height: 35px;
  padding-right: 15px;
}


/************************* SUBPAGINA *************************/

/* Indeling en opmaak voor subpagina */

/* verzin deze zelf... */

#achtergrondwebgeschiedenis {
  background-image: url(afbeeldingen/RoX.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}

#achtergrondwebcoureurs {
  background-image: url(afbeeldingen/background\ coureurs.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height:1200px;
}

#achtergrondwebinformatie {
  background-image: url(afbeeldingen/coolrood.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}

#achtergrondwebcircuits {
  background-image: url(afbeeldingen/circuitmooi5.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
}

table, td, tr {
border: 4px solid black;
border-collapse: collapse;
}


.blurrr {
  background-color: rgba(255, 255, 255, 0.555);
  color: black;
  border: 2px solid red;
  border-radius: 7px;
  padding-right: 8px;
  padding-left: 8px;
  white-space: nowrap;
  backdrop-filter: blur(5px);
  height: 800px;
  width: 700px; 
  
}
